/* overall */
* {
	box-sizing: border-box;
	font-family: 'Bellefair', serif;
}

h1 {
	text-shadow: 0 0 30px #17a2b8;
	color: #fff;
}

body {
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
}

img {
	width: 100%;
}

.center {
	margin: 0 auto;
}

.container-fluid {
	padding: 0;
}

.row {
	margin-right: 10px;
	margin-left: 10px;
}
/* header */
.jumbotron {
	background-color: transparent;
	margin-bottom: 45px;
}

.bg-jumb {
	width: 100%;
	height: 50vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: .6s;
	overflow-y: hidden;
}

.bg-1, .bg-2, .bg-3, .bg-4 {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bg-1 {
	background-image: url("../img/bg1.jpg");
	animation: fading1 30s infinite;
}

.bg-2 {
	background-image: url("../img/bg2.jpg");
	animation: fading2 30s infinite;
}

.bg-3 {
	background-image: url("../img/bg3.jpg");
	animation: fading3 30s infinite;
}

.bg-4 {
	background-image: url("../img/bg4.jpg");
	animation: fading4 30s infinite;
}

@keyframes fading1 {
	0% {opacity:1}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
}

@keyframes fading2 {
	0% {opacity:0}
	25% {opacity:1;}
	50% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:0;}
}

@keyframes fading3 {
	0% {opacity:0}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:0;}
	100% {opacity:0;}
}

@keyframes fading4 {
	0% {opacity:0}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:0;}
}

.jumb-down {
	height: 85vh;
}

.as {
	margin-top: 10px;
}

.advanced-search {
	position: relative;
	margin-top: 5px;
	margin-bottom: 20px;
	display: none;
}

.advanced-search label {
	font-size: 90%;
}

nav.strane-first {
	margin-top: 100px;
}

.strane {
	margin-top: 15px;
}

.info h6 {
	margin-top: 2px;
	color: white;
}

.pagination li p {
	font-size: 90%;
}

#searchbutton {
	margin-top: 32px;
	width: 100%;
}
/* content */
.grid {
	padding-top: 10px;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	padding-bottom: 10px;
	display: none;
}

.grid-item {
	padding: 2px;
	overflow: hidden;
}

.grid-item img {
  max-width: 100%;
  border-radius: 13px;
  border: 1px dotted #fff;
}

.likes,
.rest {
	display: flex;
	margin-right: 10px;
}

.info svg {
	margin-top: 2px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 10px;
	color: white;
}

.info {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -25px;
	height: 25px;
	width: 100%;
	transition: 1s;
	background-color: #000000;
	opacity: 0.5;
}

.grid-item:hover .info {
	transform: translateY(-25px);
}
/* footer */
.one {
	background-image: url("../img/slika4.jpg");
}

.two {
	background-image: url("../img/slika1.jpg");
}

.three {
	background-image: url("../img/slika3.jpg");
}

.four {
	background-image: url("../img/slika2.jpg");
}

.five {
	background-image: url("../img/slika5.jpg");
}

.six {
	background-image: url("../img/slika6.jpg");
}

.boxinner {
	width: 90%;
	height: 80%;
	margin: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 1s;
}

.box:hover .boxinner {
	transform: scale(1.20);
}

.box {
	height: 240px;
	display: flex;
	position: relative;
}

.brdr {
	border-top: 2px dotted #fff;
	width: 80%;
	position: absolute;
	top: 0;
	left: 10%;
}

.first {
	background-color: #17a2b8;;
	border-radius: 10px;
	flex-direction: column;
	word-wrap: break-word;
	justify-content: center;
	display: flex;
	border-top: none;
}

.first p,
.first h5 {
	text-align: center;
	margin-bottom: 0;
	color: #fff;
}

.firstone {
	padding: 0;
}

.middle {
	margin-top: 95px;
}

.middle .row {
	margin-left: 0;
	margin-right: 0;
}

.spacer {
	width: 100%;
	height: 50px;
	display: flex;
}

.spacer h4 {
	display: none;
}

.glow {
	position: relative;
	top: 25px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 20px;
	color: #fff;
	text-shadow: 0 0 30px #17a2b8;
}

.glow:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	color: #17a2b8;
	z-index: -1;
	filter: blur(30px;);
}

.glow:before {
	content: '';
	width: 100%;
	height: 100%;
	color: #fe3a80;
	z-index: -2;
	opacity: 2;
	filter: blur(60px;);
}

.slide {
	width: 100%;
	overflow: hidden;
	height: 290px;
}

.footer {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.footer a:first-child {
	width: 100px;
	margin-left: 0;
}

.footer a {
	transition: 1s;
	font-size: 35px;
	margin-left: 15px;
	color: #fff;
	display: flex;
}

.footer a img {
	height: 35px;
	margin: auto;
	background-color: #fff;
	border-radius: 6px;
}

.footer a:hover{
	transform: scale(1.2);
}

.bottom {
	padding: 0 5px;
}

@keyframes slider {
	0% {left:0;}
	10% {left:0;}
	16.6% {left:-33.4%;}
	26.6% {left:-33.4%;}
	33.3% {left:-66.8%;}
	43.3% {left:-66.8%;}
	50% {left:-100.2%;}
	60% {left:-100.2%;}
	66.6% {left:-66.8%;}
	76.6% {left:-66.8%;}
	83.3% {left:-33.4%;}
	93.3% {left:-33.4%;}
	100% {left: 0;}
}

.slider {
	overflow: hidden;
	width: 75%;
	padding: 0;
}

.slider:hover figure {
	animation-play-state: paused;
}

.slider figure .slider-item {
	float: left;
	width: 15.2%;
}

.slider figure {
	position: relative;
	width: 220%;
	margin: 0;
	left: 0;
	animation: 30s slider infinite;
}

@media screen and (max-width: 768px) {
	.slider {
		width: 100%;
	}

}

@media screen and (max-width: 576px) {
	.jumb-down {
		height: 125vh;
	}
	h1 {
		font-size: 160%;
	}
	.box:hover .boxinner {
	transform: scale(1.15);
	}
	.slider figure .slider-item {
	width: 16.666%;
	}
	.slider figure {
	width: 300.6%;
	}
	@keyframes slider {
	0% {left:0;}
	10% {left:0;}
	12.5% {left:-50.2%;}
	22.5% {left:-50.2%;}
	25% {left:-100.4%;}
	35% {left:-100.4%;}
	37.5% {left:-150.6%;}
	47.5% {left:-150.6%;}
	50% {left:-200.8%;}
	60% {left:-200.8%;}
	62.5% {left:-150.6%;}
	72.5% {left:-150.6%;}
	75% {left:-100.4%;}
	85% {left:-100.4%;}
	87.5% {left:-50.2%;}
	97.5% {left:-50.2%;}
	100% {left: 0;}
}
}

