/* overall */
* {
	box-sizing: border-box;
	font-family: 'Bellefair', serif;
}

.jumb-p h1 {
	text-shadow: 0 0 30px #17a2b8;
	color: #fff;
	position: relative;
	z-index: 2;
}

img {
	width: 100%;
}

.center {
	margin: 0 auto;
	z-index: 2;
}

.container-fluid {
	padding: 0;
}

.row {
	margin-right: 10px;
	margin-left: 10px;
}
/* PHOTOS CSS */
/* header */
.photos {
	background-image: url("../img/background.jpg");
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron {
	background-color: transparent;
	height: 440px;
}

.upper-box {
	position: absolute;
	height: 440px;
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 1;
}

.upper-box-inner {
	position: absolute;
	width: 130%;
	transform: skew(-15deg);
	height: 100%;
	display: flex;
	left: -15%;
}

.slider-top {
	position: relative;
	width: 33.3%;
	height: 100%;
	overflow: hidden;
	border: 1px solid black;
}

.slika {
	position: relative;
	height: 100%;
	width: 200%;
	transform: skew(15deg);
	left: -50%;
}

.slike {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.sm1 {
	background-image: url("https://pixabay.com/get/eb35b90c2cfd033ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1eeb0bf_640.jpg");
	animation: fading1 30s infinite;
}

.sm2 {
	background-image: url("https://pixabay.com/get/ea37b30f2ff4033ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1ebb2bb_640.jpg");
	animation: fading2 30s infinite;
}

.sm3 {
	background-image: url("https://pixabay.com/get/ea37b30d2af2063ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1eab4b0_640.jpg");
	animation: fading3 30s infinite;
}

.sm4 {
	background-image: url("https://pixabay.com/get/ea37b0062af2053ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1eab4b0_640.jpg");
	animation: fading4 30s infinite;
}

.sl1 {
	background-image: url("https://pixabay.com/get/ea37b30d28fc003ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1eab4b0_640.jpg");
	animation: fading1 30s infinite reverse;
}

.sl2 {
	background-image: url("https://pixabay.com/get/ea37b00621f5063ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e5b5bf_640.jpg");
	animation: fading2 30s infinite reverse;
}

.sl3 {
	background-image: url("https://pixabay.com/get/ea37b30c28fd063ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e5b5bf_640.jpg");
	animation: fading3 30s infinite reverse;
}

.sl4 {
	background-image: url("https://pixabay.com/get/ea34b80a2ef7063ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e5b5bf_640.jpg");
	animation: fading4 30s infinite reverse;
}

.sr1 {
	background-image: url("https://pixabay.com/get/ea37b30c2ef0073ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e4b5b9_640.jpg");
	animation: fading1 40s infinite reverse;
}

.sr2 {
	background-image: url("https://pixabay.com/get/ea37b1062af1013ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e4b5b9_640.jpg");
	animation: fading2 40s infinite reverse;
}

.sr3 {
	background-image: url("https://pixabay.com/get/ea37b00621f5053ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e4b5b9_640.jpg");
	animation: fading3 40s infinite reverse;
}

.sr4 {
	background-image: url("https://pixabay.com/get/ea37b0062ff0083ed1584d05fb1d419fe573e7dc1cac104497f1c17aa1e4b5b9_640.jpg");
	animation: fading4 40s infinite reverse;
}

.bg-jumb {
	width: 100%;
	height: 440px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: .6s;
	overflow-y: hidden;
}

.bg-1, .bg-2, .bg-3, .bg-4 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bg-1 {
	background-image: url("https://pixabay.com/get/ea37b30d28fc003ed1584d05fb1d419fe573e7dc1cac104497f0c871a1eab3ba_640.jpg");
	animation: fading1 30s infinite;
}

.bg-2 {
	background-image: url("https://pixabay.com/get/ea34b4092ff3003ed1584d05fb1d419fe573e7dc1cac104497f0c871a1e5b0bd_640.jpg");
	animation: fading2 30s infinite;
}

.bg-3 {
	background-image: url("https://pixabay.com/get/ec31b10e2af61c22d2524518b74b4f90e772ebd004b0144395f9c97faeebb6_640.jpg");
	animation: fading3 30s infinite;
}

.bg-4 {
	background-image: url("https://pixabay.com/get/ea35b20e2ff4053ed1584d05fb1d419fe573e7dc1cac104497f0c871a0edb7be_640.jpg");
	animation: fading4 30s infinite;
}

@keyframes fading1 {
	0% {opacity:1}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
}

@keyframes fading2 {
	0% {opacity:0}
	25% {opacity:1;}
	50% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:0;}
}

@keyframes fading3 {
	0% {opacity:0}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:0;}
	100% {opacity:0;}
}

@keyframes fading4 {
	0% {opacity:0}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:0;}
}

.as, .vas {
	margin-top: 10px;
}
.advanced-search-v,
.advanced-search {
	position: relative;
	margin-top: 5px;
	display: none;
}

.advanced-search-v label,
.advanced-search label {
	font-size: 90%;
}

.stranev,
.strane {
	margin-top: 15px;
}

.info h6,
.info1 h6 {
	margin-top: 4px;
	color: white;
}

.pagination li p {
	font-size: 90%;
}

#searchbutton,
#searchbutton1 {
	margin-top: 32px;
	width: 100%;
}
/* content */
.gridv,
.grid {
	padding-top: 10px;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	padding-bottom: 10px;
	display: none;
}

.grid-item {
	padding: 2px;
	overflow: hidden;
}

.grid-item img {
  max-width: 100%;
  border-radius: 13px;
  border: 1px dotted #fff;
}

.likes,
.rest {
	display: flex;
	margin-right: 10px;
}

.info svg,
.info1 svg {
	margin-top: 2px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 10px;
	color: white;
}

.info {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -25px;
	height: 25px;
	width: 100%;
	transition: 1s;
	background-color: #000000;
	opacity: 0.5;
}

.grid-item:hover .info {
	transform: translateY(-25px);
}
/* footer */
.one {
	background-image: url("../img/slika4.jpg");
}

.two {
	background-image: url("../img/slika1.jpg");
}

.three {
	background-image: url("../img/slika3.jpg");
}

.four {
	background-image: url("../img/slika2.jpg");
}

.five {
	background-image: url("../img/slika5.jpg");
}

.six {
	background-image: url("../img/slika6.jpg");
}

.boxinner {
	width: 90%;
	height: 80%;
	margin: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 1s;
}

.box:hover .boxinner {
	transform: scale(1.10);
}

.box {
	height: 240px;
	display: flex;
	position: relative;
}

.brdr {
	border-top: 2px dotted #fff;
	width: 80%;
	position: absolute;
	top: 0;
	left: 10%;
}

.first {
	background-color: #17a2b8;;
	border-radius: 10px;
	flex-direction: column;
	word-wrap: break-word;
	justify-content: center;
	display: flex;
	border-top: none;
}

.first p,
.first h5 {
	text-align: center;
	margin-bottom: 0;
	color: #fff;
}

.firstone {
	padding: 0;
}

.middle {

}

.middle .row {
	margin-left: 0;
	margin-right: 0;
}

.spacer {
	width: 100%;
	height: 50px;
	display: flex;
}

.spacer h4 {
	display: none;
}

.glow {
	position: relative;
	top: 25px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 20px;
	color: #fff;
	text-shadow: 0 0 30px #17a2b8;
}

.glow:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	color: #17a2b8;
	z-index: -1;
	filter: blur(30px;);
}

.glow:before {
	content: '';
	width: 100%;
	height: 100%;
	color: #fe3a80;
	z-index: -2;
	opacity: 2;
	filter: blur(60px;);
}

.slide {
	width: 100%;
	overflow: hidden;
	height: 290px;
}

.footer {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.footer a:first-child {
	width: 100px;
	margin-left: 0;
}

.footer a {
	transition: 1s;
	font-size: 35px;
	margin-left: 15px;
	color: #fff;
	display: flex;
}

.footer a img {
	height: 35px;
	margin: auto;
	background-color: #fff;
	border-radius: 6px;
}

.footer a:hover{
	transform: scale(1.2);
}

.bottom {
	padding: 0 5px;
}

@keyframes slider {
	0% {left:0;}
	10% {left:0;}
	16.6% {left:-33.4%;}
	26.6% {left:-33.4%;}
	33.3% {left:-66.8%;}
	43.3% {left:-66.8%;}
	50% {left:-100.2%;}
	60% {left:-100.2%;}
	66.6% {left:-66.8%;}
	76.6% {left:-66.8%;}
	83.3% {left:-33.4%;}
	93.3% {left:-33.4%;}
	100% {left: 0;}
}

.slider {
	overflow: hidden;
	width: 75%;
	padding: 0;
}

.slider:hover figure {
	animation-play-state: paused;
}

.slider figure .slider-item {
	float: left;
	width: 15.2%;
}

.slider figure {
	position: relative;
	width: 220%;
	margin: 0;
	left: 0;
	animation: 30s slider infinite;
}

.spacer a {
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.slider {
		width: 100%;
	}
	.jumbotron,
	.upper-box,
	.bg-jumb {
		height: 500px;
	}
}

@media screen and (max-width: 576px) {
	.upper-box-inner {
		width: 160%;
		left: -30%;
	}

	.jumbotron,
	.upper-box,
	.bg-jumb {
		display: flex;
		flex-direction: column;
		height: 700px;
	}
	#searchbutton,
	#searchbutton1 {
		margin-top: 12px;
	}
	h1 {
		font-size: 200%;
	}
	.box:hover .boxinner {
	transform: scale(1.05);
	}
	.slider figure .slider-item {
	width: 16.666%;
	}
	.slider figure {
	width: 300.6%;
	}
	@keyframes slider {
	0% {left:0;}
	10% {left:0;}
	12.5% {left:-50.2%;}
	22.5% {left:-50.2%;}
	25% {left:-100.4%;}
	35% {left:-100.4%;}
	37.5% {left:-150.6%;}
	47.5% {left:-150.6%;}
	50% {left:-200.8%;}
	60% {left:-200.8%;}
	62.5% {left:-150.6%;}
	72.5% {left:-150.6%;}
	75% {left:-100.4%;}
	85% {left:-100.4%;}
	87.5% {left:-50.2%;}
	97.5% {left:-50.2%;}
	100% {left: 0;}
	}
}
/* PHOTOS CSS ENDS HERE*/
/* FLIP STUFF */
.click {
	position: absolute;
	z-index: 2;
}

.back {
	min-height: 101vh;
	background-color: yellow;
	transform: rotateY(180deg);
	position: absolute;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.front {
	min-height: 101vh;
	position: absolute;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.all-the-stuff {
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: .5s;
}

.all-the-stuff.flip {
	transform: rotateY(180deg);
}

.main {
	max-height: 101vh;
	overflow-y: hidden;
}

/* VIDEO STUFF START HERE */

.videos {
	background-image: url("../img/baa.jpg");
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
}

.jumb-v {
/*	background-image: url("https://media.giphy.com/media/3ohc0S7yEG9ZnP9bt6/giphy.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;*/
}

.jumb-v h1 {
	text-shadow: 0 0 30px #dc3545;
	color: #fff;
	z-index: 2;
	position: relative;
}

.gridv video {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 1px dotted white;
}

.fancybox-slide video {
	background-color: black;
	max-width: 90%;
	margin: 0 auto;
	padding: 0;
	max-height: 95vh;
}


.info1 {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -25px;
	height: 25px;
	width: 99%;
	transition: 1s;
	background-color: #000000;
	opacity: 0.5;
}

.grid-item:hover .info1 {
	transform: translateY(-30px);
}

.gridv {
	display: none;
}